OPENAI_API_KEY="" # Your OpenAI API Key
DIRECTORY="" # Directory of your folder

MONGO_URL="" # Mongodb local testing URL from installed mongodb or Atlas
DB_NAME="" # Can be set to anything

URL="http://127.0.0.1:5001/api"

AUTH_KEY= "" # generate a key for yourself by running file 'testers/generate_random_auth_token.py'

ENVIRONMENT= "LOCAL/UAT/PROD"

SMTP_EMAIL= ""
SMTP_PASSWORD= ""
SMTP_PROVIDER= "gmail/outlook.etc"
